// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#wap-comment{
  margin: 5px;
}

#comment-content{
  float:left
}
#delete{
  width:10%;
  float:right;
  text-align:center
}


